*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    transition: all 300ms;
}
.moverconte{
    right: 180px;
}
.contenedorheader{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}
.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150px;
}
.nave{
    position: relative;
    height: 100%;
    
}
nav{
    height: 100%;
    transition: all 300ms;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;
}
nav ul li a{
    color: black;
    font-size: 30px;
    font-family:'Alegreya';
}
li a:hover{
    color: rgb(255, 255, 255);
    background-color:  rgb(118, 185, 230);
    border-color: rgb(118, 185, 230);
    transition: 0.8s all;
    transform: scale(1.1);
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-radius: 15px;
}
.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background-color: white;
    
}

/*cover*/
.cover{
    width: 100%;
    padding-bottom: 60px;
    margin-top: 100px;
    
}
.bg_color{
    width: 100%;
    height: 50%;
    position: absolute;
    top: -100px;
}

.mancha11{
    width: 100%;
    height: 13%;
    position: absolute;
    margin-left: 0%;
    margin-top: -100px;
    margin-right: 0%;
    padding-right: 0%;
    background-image: ();
    
}
.contenedorcover{
    max-width: 1200px;
    position: relative;
    display: flex;
    height: 450px;
    padding-left: 100px;
    padding-right: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
   justify-content: space-between;
   
   
}
.contenedor_info{
    max-width: 500px;
    margin-top: 40px;
    padding-right: 50px;
}
.cover h1{
    max-width: 500px;
    font-size: 400%;
    color:rgb(142, 164, 228);
    text-align: center;
}
.cover h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0%;
    font-size: 150%;
    font-family:'Satisfy';
}
.ima1{
    max-width: 500px;
    margin-top: 5px;
    padding-top: 06px;
    padding-left: 7%;
    display: inline;
    overflow: hidden;
    justify-items: center;
}
.contenedor_vector{
    position: relative;
    
   width: 500px;
}
.ima2{
    position: absolute;
    margin-top: 25px;
    left: -80px;
    width: 80%;
    animation: move_vector 6s ease-in-out infinite;
 
}
@keyframes  move_vector {
0%{
    transform: translateY(10px);
}
25%{
    transform: translateY(-10px);
}
100%{
    transform: translateY(10px);
}
}
.ima3{
    position: absolute;
    left: 65%;
    margin-top: 155px;
    width: 80%;
    animation: move_vector 6s ease-in-out infinite;
}
.b1{
    position: absolute;
    border-radius: 5px;
    border-color: blue;
    background-color: rgb(255, 255, 255);
    color: rgb(44, 38, 229);
    display: inline;
    padding-left:1% ;
    padding-right:1% ;
    margin-top: 480px;
    font-size: 30px;
    margin-left: 25%;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 7px 7px 0px rgb(167, 168, 171);
}
@keyframes animacionEntrar{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes animacionSalir{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
        
    }
}

.b1:hover{
    color: rgb(255, 255, 255);
    background-color:  rgb(118, 185, 230);
    border-color: rgb(118, 185, 230);
    transition: 0.8s all;
    transform: scale(1.1);
    cursor: pointer;
}
.b2{
    margin-top: 480px;
    position: absolute;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(79, 119, 207);
    color: rgb(255, 255, 255);
    display: inline;
    padding-left:1% ;
    padding-right:1% ;
    margin-left: 85%;
    font-size: 30px;
    box-shadow: 0px 7px 7px 0px rgb(167, 168, 171);
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.b2:hover{
    color: rgb(255, 255, 255);
    background-color:  rgb(21, 48, 74);
    color: rgb(255, 255, 255);
    transition: 0.8s all;
    transform: scale(1.1);
    cursor: pointer;
}

.btn__menu{
    margin-top: 3%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}
.btn__menu:hover{
    background-color: rgb(220, 245, 237);
}
.im{
    width: 100%;
}
footer{
    width: 100%;
    background-color: rgb(65, 118, 101);
    margin-top: -100px;
}
.contenedor__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
    margin-top: 100px;
}
.cajaF{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.cajaF .logoF img{
    width: 100px;
    margin-left: 100px;
}
.cajaF .term{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.cajaF h2{
    margin-bottom: 30px;
    color: rgb(222, 198, 168);
    font-weight: 700;
}
.cajaF a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}
.cajaF  .I1{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}
.cajaF  .I1:hover{
    opacity : 0.50;
}
.cajaF a:hover{
    opacity : 0.50;
}
.cajaF .redes{
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cajaF a .L{
    
    width: 15PX;
    margin-right: 3%; 
}

.caja_line{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.caja_line p{
    margin-top: 20px;
    color: rgb(155, 155, 155);
}
.caja_line hr{
    border: none;
    height: 1px;
    background-color: rgb(155, 155, 155);
}
@media screen and (max-width:1289px) {
   
    .ima3{
        margin-top: 200px;
        width: 60%;
        margin-left: -140px ;
    }
    .ima2{
        margin-left: -100px ;
        width: 60%;
        margin-top: 100px;
    }
    .contenedor_info{
        
        margin-left: -100px;
        margin-right: 0px;
        
    }
    .b1{
        margin-left: -50px;
    }
    .b2{
        margin-left: 200px;
    }
}
@media screen and (max-width:1115px) {
   
    .ima3{
        margin-top: 250px;
        width: 60%;
        margin-left: -250px ;
    }
    .ima2{
        
        margin-left: 150px ;
        width: 60%;
        margin-top: 0px;
    }

    .b1{
        margin-left:20%;
    }
    .b2{
        margin-left: 60%;
    }
}

@media screen and (max-width:983px) {
    .nave{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn__menu{
        display: flex;
    }
    .contenedor_info{
        
        margin-left: -60px;
        margin-right: 0px;
    }
    .ima3{
        margin-left: -150px;
    }
    nav{
        height: 100%;
        background-color: rgb(64, 86, 105);
        position: fixed;
        top: 0;
        right: -180px;
    }
    .move_nav{
        right: 0px;
    }
    .ima1{
        width: 380px;
        margin-left: -20px;
        padding-left: 0%;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 20px 0px;
    }
    .b1{
        margin-left: -20px;
    }
    .b2{
        margin-left: 150px;
    }
}
@media screen and (max-width:800px) {
    footer{
        width: 100%;
        background-color: rgb(65, 118, 101);
        margin-top: -50px;
    }
}
@media screen and (max-width:760px) {
   
    .contenedor_info{
        
        margin-left: 5%;
        margin-right: 0px;
    }
    .contenedorcover{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 560px;
        

    }
    .contenedor_vector{
        height: 1000px;
    }
    .ima3{
        margin-left: -40%;
    }
    .ima2{
        margin-left: 40%;
    }
    nav{
        height: 100%;
        background-color: rgb(64, 86, 105);
        position: fixed;
        top: 0;
        right: -180px;
    }
    .move_nav{
        right: 0px;
    }
    .ima1{
        width: 380px;
        margin-left: 30px;
        padding-left: 0%;
        margin-bottom: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 20px 0px;
    }
    .b1{
        margin-left: 20%;
    }
    .b2{
        margin-left: 50%;
    }
}
@media screen and (max-width:700px) {
   
    .contenedorcover{
        padding-left:80px;
        margin-left: 0%;
        margin-right: 0px;
    }
    
}
@media screen and (max-width:700px) {
   
    .contenedor_info{
        
        margin-left: 0%;
        margin-right: 0px;
    }
    
}
@media screen and (max-width:600px) {
   
    .contenedorcover{
        padding-left:50px;
        margin-left: 0%;
        margin-right: 0px;
    }
   
    
}@media screen and (max-width:490px) {
   
    .contenedor_info{
        padding-left: 30%;
    }
    .contenedorcover{
        padding-left:0px;
        margin-left: 0%;
        margin-right: 0px;
    }
    .ima1{
        margin-left: -20px;
    }
    .b1{
        margin-left: 40%;
    }
    .b2{
        margin-left: 38%;
        margin-top: 120%;
    }
   
    
}
@media screen and (max-width:538px) {
   
    .contenedor_info{
        
        margin-left: -10%;
        margin-right: 0px;
    }
    
}
@media screen and (max-width:472px) {
   
    .contenedor_info{
        
        margin-left: -20%;
        margin-right: 0px;
    }
 .cover h1{
    font-size: 50px;
 }   
 .cover h2{
    font-size: 20px;
 }  
 .ima1{
    width: 80%;
    margin-left: 40px;
 } 
    
}
@media screen and (max-width:460px) {
    footer{
        width: 100%;
        background-color: rgb(65, 118, 101);
        margin-top: 40%;
    }
}
@media screen and (max-width:452px) {
   
   .b2{
    margin-top: 550px;
   }
    
}

@media screen and (max-width:420px) {
    footer{
        width: 100%;
        background-color: rgb(65, 118, 101);
        margin-top: 300px;
    }
}
@media screen and (max-width:400px) {
    footer{
        width: 100%;
        background-color: rgb(65, 118, 101);
        margin-top: 0px;
    }
}

@media screen and (max-width:275px) {
   
    .contenedor_info{
        
        margin-left: -45%;
        margin-right: 0px;
    }
 
}
@media screen and (max-width:250px) {
   
    .contenedor_info{
        
        margin-left: -65%;
        margin-right: 0px;
    }
 
    
}
@media screen and (max-width:399px) {
   
    .b1{
        margin-top: 400px;
        
    }
    .b2{
        margin-left: 38%;
        margin-top: 500px;
    }
    .ima3{
        margin-top: 200px
    }
    .ima2{
        margin-left: 160px;
    }
    .contenedor_info{
        padding-right: 40px;
    }
   
}
@media screen and (max-width:300px) {
   
    .contenedor_info{
        
        margin-left: 0%;
        margin-right: 0px;
        padding-left: 0%;
        padding-right: 0%;
        max-width: 260px;
    }
    .contenedor_vector{
        width: 250px;
        max-width: 250px;
    }
    .cover h1{
        font-size: 35px;
        
    }
 
    
}